/App/nbproject/private/
/Test1/nbproject/private/
/ICT2WebApplication/nbproject/private/
/ICT2WebApplication/build/
/ICT2Client/nbproject/private/
/ICT2Client/build/
/SignInApp/nbproject/private/
/SignIn/nbproject/private/
/SignIn/build/